@font-face {
  font-family: "luckiestGuy";
  src: url("img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("img/underwater_background.jpg");
  background-position: center;
  background-size: cover;
  font-family: "luckiestGuy", "Arial", "Helvetica", "Sans-serif";
  gap: 32px;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

html,
body {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 112px;
  color: #e1e1e1;
  letter-spacing: 5px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 64px;
  margin:0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 50%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #0359a0;
  outline: none;
  border-style: none;
  padding: 21px 16px;
  border-radius: 18px;
  color: #e1e1e1;
  letter-spacing: 5px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "luckiestGuy", "Arial", "Helvetica", "Sans-serif";
  font-size: 32px;
  border: 3px solid #0359a0;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background-color: #0b1046;
  border: 3px solid #e1e1e1;
}

.sharkie {
  transform: rotate(-30deg);
  width: 50%;
}

.loading-screen {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e1e1e1;
  letter-spacing: 5px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 32px;
}

.progress {
  height: 48px;
  width: 70%;
  background-color: transparent;
  border-radius: 18px;
  border: 3px solid #0b1046;
  position: relative;
}

.progressbar {
  position: absolute;
  background-color: #e1e1e1;
  width: 0%;
  height: 48px;
  border-radius: 18px;
}

.first-time,
.no-landscape, .endscreen {
  display: flex;
  flex-direction: column;
  width: 65%;
  
  font-size: 24px;
  color: #e1e1e1;
  background-color: #0b1046;
  padding: 32px;
  border-radius: 18px;
  border: 3px solid #e1e1e1;
  align-items: center;
  text-align: center;
  gap: 32px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.choose-btns {
  display: flex;
  gap: 16px;
}

.instructions {
  padding: 48px 32px;
  width: 70%;
  height: 55vh;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 24px;
  color: #e1e1e1;
  background: #0b1046;
  border-radius: 20px;
  border: solid 5px #e1e1e1;
}

.close-icon {
  position: absolute;
  right: 32px;
  top: 32px;
}

.intro-text {
  overflow: auto;
  width: 100%;
  max-height: 250px;
  letter-spacing: 2px;
  font-size: 22px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.intro-text::-webkit-scrollbar {
  display: none;
}

.close-icon:hover {
  background-color: #0359a0;
}

.description {
  width: 72%;
  height: 100%;
  justify-content: space-between;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
}

.key-infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}

.move-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.row {
  display: flex;
  gap: 8px;
}

.attack-descriptions {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.no-btn {
  pointer-events: none;
}

.attack-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: black;
  display: block;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16px;
}

.fullscreen-btn {
  align-self: flex-end;
}

.fullscreen-icon {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
}

.volume-icon {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 80px;
  width: 40px;
  height: 40px;
}

.touch-container {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 32px;
}

.touch-move {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.touch-btn {
  width: 56px;
  height: 56px;
  background-color: #e1e1e1;
  opacity: 0.6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attack-touch {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.attack-btn {
  width: fit-content;
  border-radius: 12px;
  text-align: center;
  padding: 4px 12px;
}

.move-btn {
  cursor: pointer;
  background-color: #0359a0;
  outline: none;
  border-style: none;
  padding: 21px 16px;
  height: 64px;
  border-radius: 18px;
  color: #e1e1e1;
  letter-spacing: 5px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "luckiestGuy", "Arial", "Helvetica", "Sans-serif";
  font-size: 32px;
  text-transform: uppercase;
}

.d-none {
  display: none !important;
}

@media only screen and (max-width: 950px) {
  .description {
    width: 80%;
  }

  h3 {
    font-size: 24px;
  }

  .move-btn {
    /* height: 48px; */
    font-size: 24px;
  }

  .close-icon {
    font-size: 24px;
    /* height: 48px;
    width: 48px; */
  }
}

@media only screen and (max-width: 830px) {
  .intro-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
  .description {
    width: 90%;
  }

  .intro-text {
    font-size: 16px;
  }

  .close-icon {
    font-size: 20px;
    height: 32px;
    width: 32px;
    padding: 8px 12px;
    border-radius: 12px;
    top: 24px;
    right: 24px;
  }

  .move-btn {
    font-size: 20px;
    height: 32px;
    padding: 8px 12px;
    border-radius: 12px;
  }

  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .instructions {
    width: 80%;
    padding: 24px 24px;
  }

  .intro-text {
    font-size: 14px;
  }

  .row {
    gap: 4px;
  }

  h3 {
    font-size: 16px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1370px) {
  .touch-container {
    display: flex;
  }
  .fullscreen-btn {
    display: none;
  }

  .fullscreen-icon {
    display: block !important;
  }
}

@media only screen and (max-height: 780px) {
  /* h1 {
    display: none;
  } */

  .fullscreen-btn {
    display: none;
  }

  
}

@media only screen and (max-height: 510px) {
  .instructions {
    min-height: 60vh;
    padding: 24px 24px;
  }

  .intro-text {
    font-size: 14px;
  }

  h3 {
    font-size: 16px;
  }

  .move-btn {
    font-size: 20px;
    height: 32px;
    padding: 8px 12px;
    border-radius: 12px;
  }

  .close-icon {
    font-size: 20px;
    height: 32px;
    width: 32px;
    padding: 8px 12px;
    border-radius: 12px;
    top: 24px;
    right: 24px;
  }

  h2 {
    font-size: 40px;
  }

  .endscreen {
    font-size: 18px;
    width: 85%;
    gap: 8px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .touch-container {
    display: flex;
  }

  h1 {
    font-size: 56px;
  }
}

@media only screen and (max-height: 400px) {
  .menu-buttons {
    gap: 40px;
  }

  .main {
    gap: 16px;
  }

  .sharkie {
    width: 35%;
    height: 100%;
    object-fit: contain;
  }
}
